:root {
  --color--text: #5f6797;
  --color--score: #976ab4;
  --color--button: #7d599e;
  --color--shadow: #9b9797;
}
header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  background-color: #c0c4dc1e;
}

header p,
header button {
  margin-inline: 3%;
  color: var(--color--score);
}

header button {
  height: 50%;
  background: transparent;
  border-style: none;
  cursor: pointer;
}

.quiz-box {
  display: flex;
  flex-direction: column;
  margin-inline: auto;
  margin-top: 15%;
  width: 60%;
  height: fit-content;
  padding: 3rem;
  padding-bottom: 4rem;
  text-align: center;
  justify-content: center;
}

.quiz-box button {
  background-color: #948d9ad9;
  border: none;
  color: var(--color--button);
  cursor: pointer;
}

.title {
  font-size: 2rem;
  padding-block: 1em;
  color: var(--color--text);
}
/* This is the box that dynamically loads the javascript questions choices*/
.question-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.question-box p {
  text-align: center;
  justify-content: center;
}

.question-box button {
  border: none;
  cursor: pointer;
  background-color: #948d9ad9;
  width: fit-content;
  padding: 1rem;
}
/* This is the box that  */
.answer {
  color: var(--color--shadow);
  justify-content: left;
}

.questions {
  margin: 1%;
  width: inherit;
  border-radius: 14%;
  padding-block: 4%;
  color: white;
  background-color: var(--color--button);
}

#start {
  padding: 0.5rem;
  border-radius: 15%;
  margin: 2%;
  width: fit-content;
}

.center {
  display: flex;
  justify-content: center;
}

.message {
  display: flex;
  justify-content: start;
  border-top: 0.1rem solid var(--color--shadow);
  color: var(--color--shadow);
}

.score-box {
  justify-content: center;
  text-align: center;
}
.score-title {
  font-size: 3rem;
  color: var(--color--text);
}
.score-button {
  border: none;
  cursor: pointer;
  background-color: #948d9ad9;
  width: fit-content;
  border-radius: 14%;
  padding: 2%;
  margin-inline: 3%;
}

.jumbo-text {
  font-size: 3rem;
  color: var(--color--text);
}
